<div class="resume">
  <div class="linkWrap">
    <%= link_to 'Download Link', @setting.try(:resume_url) %>
  </div>
  <div class="embedWrap">
    <embed src="<%= @setting.try(:resume_url) %>" type="application/pdf">
  </div>
</div>
