// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  font-family: "muli";

  .name {
    font-size: 28pt;
  }

  .tagline {
    font-size: 16pt;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  #hexGrid {
    h1 {
      margin: 0;
    }
  }
}

.about {
  font-family: "muli";
  text-align: left;
  vertical-align: top;
  width: 100%;

  .left {
    vertical-align: top;
    box-sizing: border-box;
    padding: 1%;
    display: inline-block;
    width: 43%;

    img {
      width: 98%;
    }
  }

  .right {
    vertical-align: top;
    padding: 1% 2%;
    box-sizing: border-box;
    display: inline-block;
    width: 55%;

    p {
      margin: 0 0 12pt 0;
      font-size: 12pt;
    }
  }
}

.resume {
  font-family: "muli";

  .linkWrap {
    margin-bottom: 40px;
    font-size: 20pt;

    a {
      color: #3969B2;
      text-decoration: none;
    }
  }

  .embedWrap {
    width: 50%;
    height: auto;
    margin: auto;

    embed {
      width: 100%;
      height: 800px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    text-align: center;

    .left {
      margin: auto;
      display: block;
      width: 90%;
    }

    .right {
      margin: auto;
      text-align: left;
      display: block;
      width: 90%;
    }
  }

  .resume {
    .embedWrap {
      width: 90%;
    }
  }
}
