// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.setting-form-wrap {
  padding: 0 40px;

  label {
    font-weight: bold;
  }

  .actions {
    text-align: center;

    input {
      padding: 5px;
    }
  }
}
